<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>cn/lj/ssh/user/vo/User_hbm.xml</value>
				<value>cn/zy/ssh/category/vo/Category_hbm.xml</value>
				<value>cn/lj/ssh/product/vo/Product_hbm.xml</value>
				<value>cn/zy/ssh/categorysecond/vo/CategorySecond_hbm.xml</value>
				<value>cn/jidy/ssh/adminuser/vo/AdminUser_hbm.xml</value>
				<value>cn/jidy/ssh/order/vo/OrderItem_hbm.xml</value>
				<value>cn/jidy/ssh/order/vo/Order_hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<aop:aspectj-autoproxy proxy-target-class="true" />


	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Action的配置 =========================== -->

	<!-- 验证码Aation配置 <罗剑> -->
	<bean id="checkImageAction" class="cn.lyj.ssh.user.action.CheckImageAction"
		scope="prototype"></bean>

	<!-- 首页访问的action -->
	<bean id="indexAction" class="cn.lyj.ssh.index.action.IndexAction"
		scope="prototype">
		<property name="categoryService" ref="categoryService" />
		<!-- <property name="productService" ref="productService" /> -->
	</bean>

	<!-- 用户模块action -->

	<bean id="userAction" class="cn.lyj.ssh.user.action.UserAction"
		scope="prototype">
		<!-- 注入service -->
		<property name="userService" ref="userService" />
	</bean>

	<!--一级分类模块的bean<罗剑> -->
	<!-- <bean id="categoryAction" class="cn.zy.ssh.category.vo.Category" scope="prototype"> 
		<property name="categoryService" ref="categoryService" /> </bean> -->
	<bean id="productAction" class="cn.lj.ssh.product.action.ProductAction">
		<property name="productService" ref="productService" />
		<property name="categoryService" ref="categoryService" />
	</bean>


	<!-- Dao的配置 =========================== -->
	<bean id="userDao" class="cn.lyj.ssh.user.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!--一级分类模块的Dao<罗剑> -->
	<bean id="categoryDao" class="cn.zy.ssh.category.dao.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 商品dao<罗剑> -->
	<bean id="productDao" class="cn.lj.ssh.product.dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 二级分类的文件《罗剑》 -->
	<!-- <bean id="categorySecondDao" class="cn.zy.ssh.categorysecond.dao.CategorySecondDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean> -->
	<!-- 订单管理<蒋德义> -->
	<bean id="orderDao" class="cn.jidy.ssh.order.dao.OrderDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>



	<!-- Service的配置 =========================== -->
	<bean id="userService" class="cn.lj.ssh.user.service.UserService">
		<property name="userDao" ref="userDao" />
	</bean>
	<!--一级分类模块的service<罗剑> -->
	<bean id="categoryService" class="cn.zy.ssh.category.service.CategoryService">
		<property name="categoryDao" ref="categoryDao" />
	</bean>
	<!-- 商品业务层service<罗剑> -->
	<bean id="productService" class="cn.lj.ssh.product.service.ProductService">
		<property name="productDao" ref="productDao" />
	</bean>
	<!-- 订单管理业务层<蒋德义> -->
	<bean id="orderService" class="cn.jidy.ssh.order.service.OrderService">
		<property name="orderDao" ref="orderDao"></property>
	</bean>


	<!-- ===================================后台管理配置处====================================================== -->
	<!-- action===================== -->
	<!-- 登陆 <蒋德义>-->
	<bean id="adminUserAction" class="cn.jidy.ssh.adminuser.action.AdminUserAction"
		scope="prototype">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>
	<!-- 后台订单管理 <蒋德义>-->
	<bean id="adminOrderAction" class="cn.jidy.ssh.order.adminaction.AdminOrderAction" scope="prototype">
		<property name="adminOrderService" ref="adminOrderService"></property>
	</bean>
	
	<!--后台管理action<陆育静>  -->
	<bean id="adminProductAction" class="cn.lj.ssh.product.adminaction.AdminProductAction" scope="prototype">
	<property name="productService" ref="productService"></property>
	</bean>

	<!-- Service的配置 ====================== -->
	<!-- 登陆 <蒋德义>-->
	<bean id="adminUserService" class="cn.jidy.ssh.adminuser.service.AdminUserService">
		<property name="adminUserDao" ref="adminUserDao"></property>
	</bean>



	<!-- Dao的配置===================== -->
	<!-- 登陆<蒋德义> -->
	<bean id="adminUserDao" class="cn.jidy.ssh.adminuser.dao.AdminUserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
