@charset "utf-8";


*{margin: 0; padding: 0; list-style: none; text-decoration: none;}
 
#container index{ width:1000px; height:550px; }
.d11{ width:30%; height:100%; margin-left:30px; float:left;   }
.d1{margin-left:80px;}
.d12{ width:50%; height:100%; margin-left:100px; float:left;  }
 
 